
body {
  background: #333;
}

#video_player_box {
  width: 60%;
  align: center;
  margin: 0px auto;
}

#my_video {
  width: 100%;
  height: auto;
}

#video_controls_bar {
  background: #333;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.btn {
  border: none;
  cursor: pointer;
  width: 128px;
  height: 82px;
}

.backbtn {
  background: url(img/back.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.pausebtn {
  background: url(img/pause.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.playbtn {
  background: url(img/play.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.muteunmutebtn {
  border: none;
  cursor: pointer;
  width: 128px;
  height: 82px;
}

.mutebtn {
  background: url(img/mute.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.unmutebtn {
  background: url(img/unmute.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.fullscreenbtn {
  background: url(img/fullscreen.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.nextbtn {
  background: url(img/next.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
