
/* setjum box-sizing: border-box; á allt */
html {
  font-family: helvetica, arial, sans-serif;
  font-size: 10px;
  line-height: 1.5;
  background-color: #333;
}

*, *:before, *:after {
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  margin: 0;
  padding: 0;

}
main {
  display: flex;
  max-width: 1030px;
  height: 100%;
  padding: 20px;
  margin: 0 auto;
  color: #eee;
  flex-direction: column;
}

body {
  background: #333;
}

img {
  max-width: 100%;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

hr {
    margin: 2em 16em 4em 8em;
    padding-bottom: 30px;
    border: 0;;
    border-bottom: 1px solid #999;
}

.title{
  display: flex;
  height: 20px;
  margin: 5px 0;
  overflow: hidden;
  font-size: 1.5em;
  font-weight: bold;

}

.duration{
  position: absolute;
  right: 5px;
  bottom: 12px;
  z-index: 99;
  padding: 3px 5px;
  margin-bottom: 5px;
  color: #eee;
  background-color: rgba(0, 0, 0, 0.3);

}

.length{
  font-weight: bold;
}

.poster{
  position: relative;
  width: 44em;
  height: 100%;
  overflow: hidden;
}

.category{
    display: flex;
    color: #eee;
    flex-direction: column;
    align-content: center;
}

/* texti & fyrirsagnir */
.myndbond {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.myndband {
    display: flex;
    max-width: 310px;
    margin-right: 16em;
    margin-bottom: 2em;
    flex-direction: column;
    align-self: center;
}

.heading {
  display: flex;
  max-width: 1030px;
  height: 100%;
  padding: 20px;
  margin: 0 auto;
  color: #eee;
  flex-direction: column;
  font-weight: bold;
}
  .heading--big {
    width: 100%;
    padding: 0;
    border: none;
    font-family: Lato, georgia, serif;
    font-size: 3rem;
    color: #eee;
  }

  .heading--one {
    width: 100%;
    padding: 0;
    border: none;
    font-family: Lato, georgia, serif;
    font-size: 3rem;
    color: #eee;
  }

  .heading--two {
    width: 100%;
    padding: 0;
    border: none;
    font-family: Lato, georgia, serif;
    font-size: 3rem;
    color: #eee;
    text-align: center;
  }

  .heading--three {
    font-size: 1rem;
  }

/* takkar */

.button {
  display: inline-block;

  margin: 0;
  padding: 10px 5px;
  border: 1px solid #666;
  border-radius: 4px;
  width: 100%;
  max-width: 256px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  color: #eee;
  background-color: #666;

  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 1rem;

  text-decoration: none;
  text-align: center;

  cursor: pointer;
}

  .button:hover {
    color: #eee;
    background-color: #333;
  }

  .button--inverted {
    color: #666;
    background-color: #eee;
  }

  .button--inverted:hover {
    color: #333;
    background-color: #ccc;
  }

  .button--disabled,
  .button--disabled:hover {
    border-color: #eee;
    color: #999;
    background-color: #eee;
  }

.return {
  font-size: 2em;
  color: #eee;
  align-self: center;
  margin-top: 1em;
  margin-bottom: 1em;
  text-decoration: none;
}


/* Myndband */

#video_player_box {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

#error_box{
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin-top: 20em;
}

#my_video {
  width: 97%;
  height: 100%;
  margin: 1em;
}

#video_controls_bar {
  background: #333;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.btn {
  border: none;
  cursor: pointer;
  width: 60px;
  height: 40px;
}

.backbtn {
  background: url(gogn/img/back.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.pausebtn {
  background: url(gogn/img/pause.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.playbtn {
  background: url(gogn/img/play.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.muteunmutebtn {
  border: none;
  cursor: pointer;
  width: 128px;
  height: 82px;
}

.mutebtn {
  background: url(gogn/img/mute.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.unmutebtn {
  background: url(gogn/img/unmute.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.fullscreenbtn {
  background: url(gogn/img/fullscreen.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.nextbtn {
  background: url(gogn/img/next.svg);
  background-size: contain;
  background-repeat: no-repeat;
}


@media (min-width: 800px) {

}
