
/* setjum box-sizing: border-box; á allt */
html {
  box-sizing: border-box;
  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

*, *:before, *:after {
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  margin: 0;
  padding: 0;

}
main {
  background-color: rgba(0,0,0,0.5) /*#717987*/
}
img {
  max-width: 100%;
}

/* texti & fyrirsagnir */

.heading {
  width: 100%;
  padding: 0;
  border: none;
  opacity: 0.8;
  font-family: Merriweather, georgia, serif;
  font-size: 2rem;
}

  .heading--one {
    font-size: 3rem;
  }

  .heading--two {
    font-size: 2rem;
  }

  .heading--three {
    font-size: 1rem;
  }

/* takkar */

.button {
  display: inline-block;

  margin: 0;
  padding: 10px 5px;
  border: 1px solid #666;
  border-radius: 4px;
  width: 100%;
  max-width: 256px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  color: #eee;
  background-color: #666;

  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 1rem;

  text-decoration: none;
  text-align: center;

  cursor: pointer;
}

  .button:hover {
    color: #eee;
    background-color: #333;
  }

  .button--inverted {
    color: #666;
    background-color: #eee;
  }

  .button--inverted:hover {
    color: #333;
    background-color: #ccc;
  }

  .button--disabled,
  .button--disabled:hover {
    border-color: #eee;
    color: #999;
    background-color: #eee;
  }


/* kort */

.card {
  width: 100%;
  min-width: 200px;
  max-width: 800px;

  overflow: hidden;

  border-radius: 3px;

  background-color: #eee;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

  .card__heading {
    margin-bottom: 15px;

    width: 100%;
    font-family: Merriweather, georgia, serif;
    font-size: 1.5rem;
  }

  .card__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 15px;
  }

  .card__text {
    margin-bottom: 30px;
  }

  .card__img {
    width: 100%;
    min-width: 200px;
    max-width: 100%;
  }

@media (min-width: 800px) {
  .card {
    display: flex;
  }

  .card__content {
    align-items: flex-start;
  }

  .card__img {
    height: 100%;
    min-width: 400px;
    object-fit: cover;
  }
}
